@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

span {
  @apply tracking-widest
}

html {
  scroll-behavior: smooth;
  background-color: #111;
}

body {
  background-color: #111;
}


#start-point:hover span {
  rotate: -15deg
}

.hover-container:hover .hover-opacity {
  @apply opacity-[100%]
}

.hover-thinkpad-part {
  @apply cursor-help transition-ease-out absolute top-[50%] left-[50%]
}

.hover-thinkpad-part:hover .hover-thinkpad-part-opacity {
  @apply opacity-[100%]
}


.transition-ease-out {
  @apply transition-all duration-[400ms] ease-out
}

.thinkpad-container:hover .trackpad {
  @apply translate-x-[-360%] translate-y-[220%]
}

.trackpad-fun {
  @apply translate-x-[-360%] translate-y-[220%]
}

.thinkpad-container:hover .keyboard {
  @apply translate-x-[-175%] translate-y-[-175%]
}

.keyboard-fun {
  @apply translate-x-[-175%] translate-y-[-175%]
}

.thinkpad-container:hover .ram {
  @apply translate-y-[400%]
}

.ram-fun {
  @apply translate-y-[400%]
}

.thinkpad-container:hover .battery {
  @apply translate-x-[125%] translate-y-[-240%]
}

.battery-fun {
  @apply translate-x-[125%] translate-y-[-240%]
}

.thinkpad-container:hover .ssd {
  @apply translate-x-[-650%] translate-y-[-400%] z-[999]
}

.ssd-fun {
  @apply translate-x-[-650%] translate-y-[-400%] z-[999]
}

.thinkpad-container:hover .heatsink {
  @apply translate-x-[175%] translate-y-[130%]
}

.heatsink-fun {
  @apply translate-x-[175%] translate-y-[130%]
}